In [1]:
import pandas as pd
import os

In [3]:
mops_df = pd.read_csv(os.path.join(os.path.dirname(os.getcwd()), 'SHADOW_MOPs.csv'))

In [4]:
mops_df

,Flight_Number,Lead_Pilot,Scenario_within_flight,Scenario_Type,Autonomy_Config,Num_Tactical_Comms,Correct_Sort,Num_CMs,Lead_Altitude_Deviation_Count,Wingman_Altitude_Deviation_Count,...,SAM3_Time_to_ID_s,SAM4_Time_to_ID_s,SAM5_Time_to_ID_s,SAM6_Time_to_ID_s,SAM7_Time_to_ID_s,SAM8_Time_to_ID_s,SAM9_Time_to_ID_s,SAM10_Time_to_ID_s,Scenario_Duration_s,Avg_SAM_ID_Time_s
0,2,Grimmer,1,C,HH,16,Y,5,1,0,...,6.880,17.973,8.792,NaN,NaN,NaN,NaN,NaN,359.433,11.206000
1,2,Grimmer,2,C,HA,5,Y,5,0,0,...,7.791,11.979,21.980,20.973,NaN,NaN,NaN,NaN,394.624,14.818833
2,2,Grimmer,3,D,HA,6,Y,6,0,3,...,16.072,4.973,7.973,12.710,NaN,NaN,NaN,NaN,422.991,11.145500
3,3,Grimmer,1,C,AH,13,Y,5,0,4,...,11.258,11.471,6.746,12.425,30.000,NaN,NaN,NaN,433.398,14.747286
4,3,Grimmer,2,C,AA,5,Y,5,6,0,...,9.260,16.358,8.354,9.354,NaN,NaN,NaN,NaN,402.719,10.853667
5,3,Grimmer,3,D,AA,5,Y,6,0,0,...,9.363,8.374,11.353,10.342,NaN,NaN,NaN,NaN,419.509,9.308500
6,1,Fleischmann,1,C,HH,21,Y,5,3,5,...,30.000,30.000,30.000,30.000,30.000,NaN,NaN,NaN,476.409,30.000000
7,1,Fleischmann,2,C,HA,5,Y,5,1,0,...,30.000,21.789,30.000,30.000,30.000,NaN,NaN,NaN,477.720,28.827000
8,1,Fleischmann,3,D,HA,3,Y,6,4,0,...,30.000,30.000,30.000,30.000,NaN,NaN,NaN,NaN,381.940,30.000000
9,1,Grimmer,1,C,HH,18,Y,5,3,9,...,26.258,29.272,30.000,30.000,30.000,NaN,NaN,NaN,440.603,26.685429
10,1,Grimmer,2,D,HH,21,Y,6,3,2,...,26.222,30.000,8.266,NaN,NaN,NaN,NaN,NaN,390.761,19.594200
11,1,Grimmer,3,C,AA,3,Y,5,0,0,...,30.000,10.266,21.263,17.272,NaN,NaN,NaN,NaN,348.905,21.660500
12,2,Fleischmann,1,C,AH,16,Y,5,0,0,...,14.067,30.000,18.166,14.160,NaN,NaN,NaN,NaN,409.790,22.260167
13,2,Fleischmann,2,C,AA,4,Y,5,0,0,...,30.000,11.047,22.782,NaN,NaN,NaN,NaN,NaN,387.358,20.658600
14,2,Fleischmann,3,D,AA,5,Y,6,0,0,...,30.000,13.081,30.000,21.079,NaN,NaN,NaN,NaN,433.641,20.885167
15,2,Schnell,1,C,HA,8,Y,5,3,0,...,30.000,30.000,10.788,30.000,NaN,NaN,NaN,NaN,423.900,26.798000
16,2,Schnell,2,C,AA,17,Y,5,0,1,...,8.764,11.775,30.000,30.000,NaN,NaN,NaN,NaN,419.875,21.038667
17,2,Schnell,3,C,AA,17,Y,5,0,1,...,30.000,30.000,30.000,30.000,NaN,NaN,NaN,NaN,419.875,30.000000
18,3,Chan,1,C,AH,30,Y,5,1,0,...,10.080,17.063,10.913,15.057,NaN,NaN,NaN,NaN,420.007,15.559833
19,3,Chan,2,C,AA,5,Y,5,0,0,...,23.694,30.000,14.783,24.620,NaN,NaN,NaN,NaN,398.766,23.383833
20,3,Chan,3,D,AA,7,Y,6,0,0,...,7.770,18.783,13.775,20.579,NaN,NaN,NaN,NaN,397.860,15.348000
21,2,Chan,1,C,HH,25,Y,5,0,4,...,21.229,18.269,9.263,14.270,19.359,NaN,NaN,NaN,460.790,16.093857
22,2,Chan,2,C,HA,6,Y,5,5,0,...,11.230,30.000,13.263,30.000,NaN,NaN,NaN,NaN,423.705,18.159000
23,2,Chan,3,D,HA,8,Y,6,2,0,...,10.271,18.256,16.179,NaN,NaN,NaN,NaN,NaN,379.974,15.376800
24,1,Schnell,1,C,HH,14,Y,5,2,0,...,26.389,30.000,30.000,30.000,NaN,NaN,NaN,NaN,422.531,29.398167
25,1,Schnell,2,C,HA,4,Y,5,2,0,...,30.000,30.000,30.000,30.000,NaN,NaN,NaN,NaN,440.893,30.000000
26,1,Schnell,3,C,AA,2,Y,5,0,0,...,30.000,30.000,30.000,30.000,NaN,NaN,NaN,NaN,402.586,30.000000
27,1,Schnell,4,C,AH,14,Y,5,0,0,...,10.485,25.046,30.000,30.000,NaN,NaN,NaN,NaN,422.731,25.921833
28,1,Chan,1,B,HH,29,Y,5,2,0,...,25.248,30.000,30.000,29.266,15.503,30.0,NaN,NaN,551.434,26.568750
29,1,Chan,2,C,HH,25,Y,5,2,0,...,30.000,30.000,30.000,NaN,NaN,NaN,NaN,NaN,380.152,30.000000
30,1,Chan,3,D,HH,22,Y,6,1,1,...,6.276,13.172,18.493,30.000,NaN,NaN,NaN,NaN,403.992,17.381667
31,4,Chan,1,C,HH,18,Y,5,2,1,...,28.572,19.580,9.570,NaN,NaN,NaN,NaN,NaN,364.723,16.512200
32,4,Chan,2,C,HA,5,Y,5,0,0,...,17.573,29.564,13.563,30.000,NaN,NaN,NaN,NaN,449.538,18.544833
33,4,Chan,3,D,AA,8,Y,6,0,0,...,11.240,10.414,15.556,9.428,NaN,NaN,NaN,NaN,417.469,12.460000
34,2,McIntyre,1,D,HA,6,Y,6,4,0,...,3.783,22.774,12.783,1.748,NaN,NaN,NaN,NaN,423.957,7.223333
35,2,McIntyre,2,D,AA,7,Y,6,0,0,...,30.000,5.774,2.361,6.266,NaN,NaN,NaN,NaN,392.933,7.935000
36,2,Smith,1,D,HA,5,Y,6,2,2,...,30.000,24.993,0.275,4.227,NaN,NaN,NaN,NaN,416.675,11.336667
37,2,Smith,2,D,AA,5,Y,6,0,0,...,0.965,22.974,15.962,3.868,8.957,NaN,NaN,NaN,430.763,7.862857
38,1,McIntyre,1,C,HH,17,Y,5,4,6,...,13.492,30.000,12.497,30.000,30.000,NaN,NaN,NaN,437.592,22.354714
39,1,McIntyre,2,C,HA,8,Y,5,4,0,...,18.723,11.460,30.000,30.000,NaN,NaN,NaN,NaN,416.596,25.030500
40,1,McIntyre,3,C,AH,14,Y,5,0,14,...,22.974,30.000,8.296,9.123,NaN,NaN,NaN,NaN,409.942,18.962333
41,1,McIntyre,4,C,AA,7,Y,5,0,0,...,18.204,9.368,30.000,9.367,NaN,NaN,NaN,NaN,416.519,18.218333
42,1,Smith,1,C,HH,14,Y,5,1,0,...,30.000,21.065,7.962,30.000,NaN,NaN,NaN,NaN,399.169,22.004167
43,1,Smith,2,C,HA,5,Y,5,0,0,...,30.000,6.035,10.080,6.830,NaN,NaN,NaN,NaN,387.409,11.446000
44,1,Smith,3,C,AH,18,Y,5,0,0,...,11.948,6.070,8.065,16.051,NaN,NaN,NaN,NaN,419.198,9.981000
45,1,Smith,4,C,AA,6,Y,5,0,0,...,5.951,24.758,30.000,NaN,NaN,NaN,NaN,NaN,386.809,16.886800
46,3,Jacob,1,D,HA,5,Y,6,3,0,...,5.468,10.469,1.469,5.470,NaN,NaN,NaN,NaN,391.691,5.018833
47,3,Jacob,2,D,AA,7,Y,6,0,1,...,4.014,26.357,21.364,NaN,NaN,NaN,NaN,NaN,381.990,13.711000
48,2,Jacob,1,C,HH,24,Y,5,1,2,...,30.000,11.573,8.341,NaN,NaN,NaN,NaN,NaN,340.100,16.145000
49,2,Jacob,2,C,HA,5,Y,5,2,0,...,16.475,20.467,30.000,NaN,NaN,NaN,NaN,NaN,356.012,21.654200
50,2,Jacob,3,C,AH,20,Y,5,0,3,...,10.469,13.936,9.547,14.281,NaN,NaN,NaN,NaN,416.116,12.359000
51,2,Jacob,4,C,AA,6,Y,5,5,0,...,12.466,11.477,24.476,30.000,NaN,NaN,NaN,NaN,407.408,16.226333
52,1,Jacob,1,A,HH,4,Y,4,1,0,...,15.556,23.557,30.000,25.581,NaN,NaN,NaN,NaN,365.511,19.955500
53,1,Jacob,2,B,HH,27,Y,5,4,1,...,10.359,9.462,25.404,30.000,18.476,NaN,NaN,NaN,520.457,20.263286
54,1,Jacob,3,A,HA,2,Y,4,1,0,...,25.451,12.467,30.000,NaN,NaN,NaN,NaN,NaN,295.622,18.212000